paramiko>=3.4.1          # Per evitar els avisos de TripleDES i Blowfish
sshtunnel>=0.4.0         # Última versió disponible
cryptography<48          # Per evitar que TripleDES/Blowfish desapareguin (veure advertiment). Ajustable si és necessari.
oracleDB
pymongo
scikit-learn
tqdm
matplotlib
pandas
sphinx
